*{
    margin:0;
    padding:0;
    list-style-type:none;
    border:0;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    font-size:85%;
    background-color:#222;
    color:#eee;
}

a {color:#67a;}

h1{
    font-size:2.5em;
}

h2{
    font-size:1.75em;
}

#header {
    width:1000px;
    margin:20px auto;
    display:table;
}

#header h1 {
    float:left;
}

#header #userline {
    float:right;
    clear:right;
}

#content {
    width:1000px;
    margin:auto;
}

li.album_art {
    font-size:0.9em;
    width: 150px;
    display:table;
    float:left;
    margin:0px 10px;
}

li.album_art dt, li.album_art dd {float:left;}
li.album_art dt {clear:left; margin-right:3px;}
li.album_art dd {clear:right;}
li.album_art p {clear:both;}

#album_art {
    font-size:0.9em;
    width: 150px;
    display:table;
    float:left;
    margin:0px 10px;
}

#album_art dt, #album_art dd {float:left;}
#album_art dt {clear:left; margin-right:3px;}
#album_art dd {clear:right;}
#album_art p {clear:both;}