*{
    margin:0;
    padding:0;
    list-style-type:none;
    border:0;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    font-size:85%;
    background-color:#222;
    color:#eee;
}

a {color:#67a;}

h1{
    font-size:2.5em;
}

h2{
    font-size:1.75em;
}

#header {
    width:1000px;
    margin:20px auto;
    display:table;
}

#header h1 {
    float:left;
}

#header #userline {
    float:right;
    clear:right;
}

#content {
    width:1000px;
    margin:auto;
}