<ul>
<% for album_art in @album_arts %>
  <%if !album_art.album_art_image.blank?%>
	<li class="album_art">
		<%= render :partial => 'album_art_info', :locals => { :album_art => album_art } %>
	</li>
  <% end %>
<% end %>
</ul>
